<ion-content [fullscreen]="true">
  <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
    <ion-card>
      <ion-card-content>
        <div>
           <ion-img src="../../../assets/img/logo.jpg" style="height: 500px; padding-bottom: 50px;"></ion-img>
        </div>
        <div>
          Recuperacion de cuenta
        </div>
        
          <p-password 
          [(ngModel)]="value" 
          promptLabel="Choose a password"
          weakLabel="Too simple" 
          mediumLabel="Average complexity" 
          strongLabel="Complex password" />
        <div>
          <ion-button style="padding-right: 10px;"> Enviar correo</ion-button>
          <ion-button> Listo?</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    
  </div>

</ion-content>
