<ion-content [fullscreen]="true">
<div class="header">
  <ion-title class="title">
    Ingresar su Correo Electronico
    <p class="subTitle">para recibir el enlace para restablecer la contraseña</p>
  </ion-title>
</div>
<div>
  <ion-item>
    <ion-input class="input" placeholder="Enter your email"></ion-input>
    <ion-icon name="person-outline"></ion-icon>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px ;">
    <ion-fab-button [routerLink]="['/login']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
    </ion-fab>
</div>
</ion-content>
