<ion-content [fullscreen]="true">
  <div style="display: flex; align-items: center; justify-content: center; height: 100%; ">
    <ion-card>
      <ion-card-content>
        <div>
          <ion-img src="../../../assets/img/logo.jpg" style="height: 500px; padding-bottom: 50px;"></ion-img>
        </div>
        <div style="text-align: center; padding-bottom: 20px;">
          Recuperación de cuenta
        </div>
        
  
          
          <p-password [(ngModel)]="value">
            <ng-template pTemplate="header">
                <h6>Pick a password</h6>
            </ng-template>
            <ng-template pTemplate="footer">
                <p-divider />
                <p class="mt-2">Suggestions</p>
                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                    <li>At least one lowercase</li>
                    <li>At least one uppercase</li>
                    <li>At least one numeric</li>
                    <li>Minimum 8 characters</li>
                </ul>
            </ng-template>
        </p-password>
        

        <div style="display: flex; justify-content: center; gap: 10px;">
          <ion-button>Enviar correo</ion-button>
          <ion-button>Listo?</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
