<ion-content [fullscreen]="true">
  <div class="header">
 <ion-title class="title">Bienvenido de Nuevo</ion-title>
 <p class="subTitle">regístrate para crear tu cuenta</p>
  </div>

  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="name" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="email" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="password" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div class="signinLink">
      <p>Ya se encuentra registrado?<a style="color:#FFC33F;" [routerLink]="['/login']">iniciar sesion</a></p>
    </div>
      </div>
      <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px ;">
        <ion-fab-button [routerLink]="['/home']">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-fab-button>
        </ion-fab>
  </form>
</ion-content>

