.button-container {
  display: flex;
  background-color: black;
  width: auto;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  border-radius: 1px;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.map-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 20px auto; /* Espacio alrededor */
  height: 400px; /* Ajusta la altura */
  width: 80%; /* Ajusta el ancho del mapa */
}

gmp-map {
  height: 100%;
  width: 100%;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}


.container{
  width: 100%;
  height: 100%;
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);

} 
.child {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  height: auto;
  background-color: red;
  transform: translate(-50%, -50%);
}
.social-login-icons {
  display: flex;
  align-items: center;
}
.social-login-icons svg {
  width: 40px;
}

.social-icon-1,
.social-icon-2,
.social-icon-3,
.social-icon-4 {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialcontainer {
  height: 50px;
  overflow: hidden;
}
.social-icon-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0);
}
.socialcontainer:hover .social-icon-1 {
  transform: translateY(-50px);
}
.social-icon-2 {
  transition-duration: 0.4s;
  background: linear-gradient(
    72.44deg,
    #ff7a00 11.92%,
    #ff0169 51.56%,
    #d300c5 85.69%
  );
}
.socialcontainer:hover .social-icon-2 {
  transform: translateY(-50px);
}
.social-icon-3 {
  transition-duration: 0.4s;
  background: #316ff6;
}

.socialcontainer:hover .social-icon-3 {
  transform: translateY(-50px);
}
.social-icon-4 {
  transition-duration: 0.4s;
  background: linear-gradient(
    180deg,
    rgba(129, 34, 144, 1) 0%,
    rgba(77, 34, 124, 1) 91%
  );
}

.socialcontainer:hover .social-icon-4 {
  transform: translateY(-50px);
}
