<div class="container h-screen w-full flex justify-content-center align-items-center">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
        <div class="text-center mb-5">
            <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
            <span class="text-600 font-medium line-height-3">Don't have an account?</span>
            <a href="register" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Create today!</a>
        </div>
    
        <div>
            <label for="email1" class="block text-900 font-medium mb-2">Email</label>
            <input id="email1" name="email"  [(ngModel)]="loginUser.email" type="text" pInputText class="w-full mb-3">
    
            <label for="password1" class="block text-900 font-medium mb-2">Password</label>
            <input id="password1" type="password" name="password"  [(ngModel)]="loginUser.password" pInputText class="w-full mb-3">
    
            <div class="flex align-items-center justify-content-between mb-6">
            
                <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a>
            </div>
    
            <button (click)="login(loginUser)" pButton pRipple label="Sign In" icon="pi pi-user" class="w-full"></button>
        </div>
    </div>
</div>